footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

footer div {
    width: 250px;
    margin: 30px;
    border: 1px red solid;
}

.footer-copyright{
    width: 100%;
}